@charset "UTF-8";

head{
  color: #000000;
 }

body{
  background-color: #000000;
  background-image: url("logo2.png");
  background-repeat: no-repeat;
  background-position: center;
}


#main{
  float: left;
}
#side{
  width: 300px;
  float: right;
  height: 500px;
  }
p{
  color: #000000;
}
h1{
  color: #009da5;
  font-family:Times New Roman, serif;
}
h2{ 
  color: #000000;
  font-style:italic;
}
li{
  color: #000000;
}
ul{
  color: #000000;
}
